{% extends 'base.html' %}

{% block page_name %}
    Home
{% endblock page_name %}

{% block content %} 
    {% for room in object_list %}
        <h3>
            <a href="{% url 'rooms:detail' room.pk %}"> 
                {{room.name}} / ${{room.price}}
            </a>
        </h3>        
    {% endfor %}  

    <h5> Page {{page_obj.number}} of {{page_obj.paginator.num_pages}} </h5>

    {% for page in page_obj.paginator.page_range %}
        <a href="?page={{page}}">{{page}}</a>
    {% endfor %}

    <h5>
        {% if page_obj.has_previous %}
            <a href="?page={{page_obj.previous_page_number}}">Previous</a>
        {% endif %}
    
        Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}
    
        {% if page_obj.has_next  %}
            <a href="?page={{page_obj.next_page_number}}">Next</a>
        {% endif %}
    </h5>
    {{ time_now }}
{% endblock content %}


<!-- =================================================================== -->
{% comment "참고용 코드 보관" %}  

    <!-- note # 11 페이지1(100%수동) -->
    {% for room in rooms %}
        <h1>{{ room.name }} / ${{ room.price }}</h1>
    {% endfor %}

    <h5> Page {{page}} of {{page_count}}</h5>

    {% for page in page_range %}
        <a href="?page={{page}}">{{page}}</a>
    {% endfor %}

    <h5>
        {% if page is not 1 %}
            <a href="?page={{page|add:-1}}">Previous</a>
        {% endif %}

        Page {{page}} of {{page_count}}

        {% if not page == page_count  %}
            <a href="?page={{page|add:1}}">Next</a>
        {% endif %}
    </h5>

    <!-- urls 이름을 안쓸때 (주소값으로 처리)-->
    <h3>
        <a href="/rooms/{{ room.pk }}">
            {{room.name}} / ${{room.price}}
        </a>
    </h3>
    
{% endcomment %}
    
    

    