{% extends "base.html" %}

{% block page_title %}
    Search
{% endblock page_title %}

{% block search-bar %}
{% endblock search-bar %}

{% block content %}

    <h2>Search!</h2>
    <h4>Searching by {{city}}</h4>    

    <form method="get" action="{% url 'rooms:search' %}">
        <div>
            <label for="city">City</label>
            <input value="{{city}}" id="city" name="city" placeholder="Search By City" />
        </div>

        <div>
            <label for="country">Country</label>
            <select id="country" name="country">                
                {% for ctr in countries %}
                    <option value="{{ ctr.code }}"                       
                        {% if ctr.code == s_country %}selected{% endif %}>
                        {{ ctr.name }}
                    </option>
                {% endfor %}   
            </select>
        </div>

        <div>
            <label for="room_type">Room Type</label>
            <select id="room_type" name="room_type" >
                <option value="0" {% if s_room_type == 0 %}selected{% endif %}>
                    Any kind
                </option>
                {% for r_type in room_types  %}
                    <option value="{{r_type.pk}}"
                    {% if r_type.pk == s_room_type %}selected{% endif %}>>
                    {{r_type.name}}
                </option>
                {% endfor %}
            </select>
        </div>

        <div>
            <label for="price">Price</label>
            <input value="{{price}}" type="number" name="price" id="price" placeholder="Price" />
        </div>
        <div>
            <label for="guests">Guests</label>
            <input value="{{guests}}" type="number" name="guests" id="guests" placeholder="Guests" />
        </div>
        <div>
            <label for="bedrooms">Bedrooms</label>
            <input value="{{bedrooms}}" type="number" name="bedrooms" id="bedrooms" placeholder="Bedrooms" />
        </div>
        <div>
            <label for="beds">Beds</label>
            <input value="{{beds}}" type="number" name="beds" id="beds" placeholder="Beds" />
        </div>
        <div>
            <label for="baths">Baths</label>
            <input value="{{baths}}" type="number" name="baths" id="baths" placeholder="Baths" />
        </div>

        <div>
            <label for="instant">Instant Book Only?</label>
            <input type="checkbox" name="instant" id="instant" {% if instant  %}checked{% endif %} />
            <!-- print(instant, super_host)  # False on 라서 작동함 -->
        </div>
        <div>
            <label for="superhost">By Superhost Only?</label>
            <input type="checkbox" name="superhost" id="superhost" {% if superhost %}checked{% endif %} />
        </div>

        <div>
            <h3>Amenities</h3>
            <ul>
                {% for ame in amenities %}
                    <li>
                        <label for="a_{{ame.pk}}">{{ame.name}}</label>                        
                        <input 
                            id="a_{{ame.pk}}"
                            name="amenities"
                            type="checkbox"
                            value={{ame.pk}}
                            {% if ame.pk|slugify in s_amenities %} 
                                checked
                            {% endif %}
                        /> <!-- ame.pk|slugify  텍스트로 바꿔주는 필터 -->
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div>
            <h3>Facilities</h3>
            <ul>
                {% for facil in facilities %}
                    <li>
                        <label for="f_{{facil.pk}}">{{facil.name}}</label>
                        <input 
                            id="f_{{facil.pk}}"
                            name="facilities"
                            type="checkbox"
                            value={{facil.pk}}
                            {% if facil.pk|slugify in s_facilities %}
                                checked
                            {% endif %}
                        />
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div>
            <h3>House_rules</h3>
            <ul>
                {% for h_rule in house_rules %}
                    <li>
                        <label for="f_{{h_rule.pk}}">{{h_rule.name}}</label>
                        <input 
                            id="f_{{h_rule.pk}}"
                            name="house_rules"
                            type="checkbox"
                            value={{h_rule.pk}}
                            {% if h_rule.pk|slugify in s_house_rules %}
                                checked
                            {% endif %}
                        />
                    </li>
                {% endfor %}
            </ul>
        </div>

        <br>
        
        <button>Search</button>
    </form>

    <h3>Results</h3>

    {% for room in rooms %}
        <h3>{{room.name}}</h3>
    {% endfor %}

{% endblock content %} 
